.gallery
	width: 100%
	position: relative
	&__item
		display: block
		width: calc((100% / 3) - 5px)
		float: left
		margin-left: 5px
		img
			width: 100%
			height: auto

@media all and (max-width: 992px)
	.gallery
		&__item
			width: calc((100% / 2) - 5px)